










Hello World
<br>
<br>
<br>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!--{{stepIndex}}-->
<span *ngIf="allPuzzlesSolved() == true">
  <div style="margin-bottom:20px;">Congratulations! But there is still one puzzle left to solve.</div>
</span>

<mat-vertical-stepper  #stepper *ngIf="allPuzzlesSolved() == false" >

  <ng-template matStepperIcon="edit">
    <mat-icon>check</mat-icon>
  </ng-template>

  <mat-step *ngFor="let puzzle of puzzles; first as isFirst; last as isLast"
            label="{{puzzle.getTitle()}}"
            editable="{{puzzle.editable}}"
            completed="{{puzzle.complete}}">
    <div>{{puzzle.clue}}</div>
    <div *ngIf="puzzle.solved">Solution: {{puzzle.fullSolution}}</div>
    <mat-form-field *ngIf="puzzle.solved == false">
      <input matInput [@shake]="puzzle.shake"
             placeholder="{{puzzle.placeholder}}"
             [formControl]="puzzle.inputFormControl"
             (keyup)="puzzle.reset()"
             (keyup.enter)="puzzle.checkValue()"
             [errorStateMatcher]="puzzle.matcher">
      <mat-error>
        Incorrect response
      </mat-error>
      <button mat-button *ngIf="puzzle.inputFormControl.value"
              matSuffix mat-icon-button aria-label="Submit"
              (click)="puzzle.checkValue()" >
          <mat-icon>check</mat-icon>
      </button>

    </mat-form-field>
<!--    <div>{{puzzle.guess}}</div>-->
    <!--    <div>{{puzzle.inputFormControl.value}}</div>-->
<!--        <div>{{puzzle.shake}}</div>-->
    <div>
      <button mat-button *ngIf="isFirst == false" matStepperPrevious type="button">Back</button>
      <button mat-button *ngIf="isLast == false" matStepperNext type="button">Next</button>
    </div>

  </mat-step>

</mat-vertical-stepper>

<!--{{allPuzzlesSolved()}}-->

<span *ngIf="allPuzzlesSolved() == true">
  <div>{{finalPuzzle.clue}}</div>
  <ul *ngFor="let puzzle of puzzles">
    <li>{{puzzle.reward}}</li>
  </ul>
  <div *ngIf="finalPuzzle.solved">Solution: {{finalPuzzle.fullSolution}}</div>
  <mat-form-field *ngIf="finalPuzzle.solved == false">
    <input matInput [@shake]="finalPuzzle.shake"
           placeholder="{{finalPuzzle.placeholder}}"
           [formControl]="finalPuzzle.inputFormControl"
           (keyup)="finalPuzzle.reset()"
           (keyup.enter)="finalPuzzle.checkValue()"
           [errorStateMatcher]="finalPuzzle.matcher">
    <mat-error>
      Incorrect response
    </mat-error>
    <button mat-button *ngIf="finalPuzzle.inputFormControl.value"
            matSuffix mat-icon-button aria-label="Submit"
            (click)="finalPuzzle.checkValue()" >
      <mat-icon>check</mat-icon>
    </button>

  </mat-form-field>
</span>

