

<div class="centerit">
  <h1 style="margin-bottom: 1px">Uncle Rupert's Maniacal Inheritance Puzzle</h1>
  <div style="margin-top: 1px">mmmmmwwwwahahahahahahaha</div>
  <br>
</div>






<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!--{{stepIndex}}-->
<div class="centerit" *ngIf="allPuzzlesSolved() == false">
  <h3>You must solve all puzzles to claim your real inheritance</h3>
  <div>Enter your answers below and hit the check mark to submit</div>
</div>
<div class="centerit" *ngIf="(allPuzzlesSolved() == true) && !(finalPuzzle.solved)">
  <h3 style="margin-bottom:20px;witdth: 100%">Congratulations! But there is still one puzzle left to solve.</h3>
</div>
<div class="centerit" *ngIf="finalPuzzle.solved">
  <h3>Congratulations! You have solved the puzzle.</h3>
  <div>Click <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">here</a> to claim your inheritance</div>
  <br>
</div>




<mat-vertical-stepper  #stepper
      class="centerit"
       *ngIf="allPuzzlesSolved() == false" >

  <ng-template matStepperIcon="edit">
    <mat-icon>check</mat-icon>
  </ng-template>

  <mat-step *ngFor="let puzzle of puzzles; first as isFirst; last as isLast"
            label="{{puzzle.getTitle()}}"
            editable="{{puzzle.editable}}"
            completed="{{puzzle.complete}}">
    <div>{{puzzle.clue}}</div>
    <div *ngIf="puzzle.solved">Solution: {{puzzle.fullSolution}}</div>
    <mat-form-field *ngIf="puzzle.solved == false">
      <input matInput [@shake]="puzzle.shake"
             placeholder="{{puzzle.placeholder}}"
             [formControl]="puzzle.inputFormControl"
             (keyup)="puzzle.reset()"
             (keyup.enter)="puzzle.checkValue()"
             [errorStateMatcher]="puzzle.matcher">
      <mat-error>
        Incorrect response
      </mat-error>
      <button mat-button *ngIf="puzzle.inputFormControl.value"
              matSuffix mat-icon-button aria-label="Submit"
              matTooltip="Check Answer"
              (click)="puzzle.checkValue()" >
          <mat-icon>check</mat-icon>
      </button>
      <button mat-button  *ngIf="puzzle.hintShow < 2"
              matPrefix mat-icon-button aria-label="Show hint"
              matTooltip="Show a hint"
              (click)="puzzle.showHint()" >
        <mat-icon>help_outline</mat-icon>
      </button>

    </mat-form-field>

    <div *ngIf="puzzle.hintShow >= 1" style="margin-top: 7px;">
      <span style="color: #FF6E40;">First Hint:</span> {{puzzle.hint1}}
    </div>
    <div *ngIf="puzzle.hintShow >= 2" >
      <span style="color: #FF6E40;">Last Hint:</span> {{puzzle.hint2}}
    </div>




<!--    <div>{{puzzle.guess}}</div>-->
    <!--    <div>{{puzzle.inputFormControl.value}}</div>-->
<!--        <div>{{puzzle.shake}}</div>-->
    <div>
      <button mat-button *ngIf="isFirst == false" matStepperPrevious type="button">Back</button>
      <button mat-button *ngIf="isLast == false" matStepperNext type="button">Next</button>
    </div>

  </mat-step>

</mat-vertical-stepper>

<!--{{allPuzzlesSolved()}}-->

<div class="centerit" *ngIf="allPuzzlesSolved() == true">
  <div>{{finalPuzzle.clue}}</div>
  <ul *ngFor="let puzzle of puzzles">
    <li>{{puzzle.reward}}</li>
  </ul>
  <div *ngIf="finalPuzzle.solved">Solution: {{finalPuzzle.fullSolution}}</div>
  <mat-form-field *ngIf="finalPuzzle.solved == false">
    <input matInput [@shake]="finalPuzzle.shake"
           placeholder="{{finalPuzzle.placeholder}}"
           [formControl]="finalPuzzle.inputFormControl"
           (keyup)="finalPuzzle.reset()"
           (keyup.enter)="finalPuzzle.checkValue()"
           [errorStateMatcher]="finalPuzzle.matcher">
    <mat-error>
      Incorrect response
    </mat-error>
    <button mat-button *ngIf="finalPuzzle.inputFormControl.value"
            matSuffix mat-icon-button aria-label="Submit"
            (click)="finalPuzzle.checkValue()" >
      <mat-icon>check</mat-icon>
    </button>

  </mat-form-field>
</div>

<br>

